.main.container {
    margin-top: 50px;
    margin-left: 80px;
}

.submit-button {
    margin-top: 24px !important;
    float: right;
}

.h5 {
    text-align: center;
    color: blue;
    font-family: verdana;
    font-size: 300%;
    font-style: oblique;
}

.div {
    font-size: 12px;
    font-family: cursive;
}

.bg{
    background-color: rgb(255, 255, 255);

}